---
import Layout from '../layouts/Layout.astro';
---

<Layout title="JSON Mock API">
	<main>
		<h1>JSON Mock API</h1>
		
		<a href="/pricing">Pricing</a>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}
</style>
