---
import Layout from '../layouts/Layout.astro';
import Header from '../components/HeaderHome.astro';
import HowWorks from '../components/HowWorks.astro';
---

<Layout title="JSON Mock API">
	<main>
		<Header />
		<HowWorks />
	</main>
</Layout>

<style>
	
</style>
