---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pricing - JSON Mock API">
	<main>
		<section class="pricing">
      <div class="container">
        <h1>Pricing</h1>
        <a href="/">Home</a>
      </div>
    </section>
  </main>
</Layout>