<nav>
  <a href="/" class="brand">
    {`{ JSON Mock API }`}
  </a>

  <ul class="menu">
    <li class="menu__item">
      <a href="/about">About</a>
    </li>

    <li class="menu__item">
      <a href="/pricing">Princing</a>
    </li>

    <li class="menu__item">
      <a href="https://docs.jsonmockapi.com" target="_blank" rel="noreferrer">Documentation</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
    width: 100%;
  }

  nav a {
    color: var(--color-text);
    text-decoration: none;
  }

  nav .brand {
    font-size: var(--font-size-base);
    font-weight: var(--fw-bold);
  }

  nav .menu {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav .menu__item {
    font-size: var(--font-size-base);
  }

  @media (min-width: 991px) {
    nav .menu__item {
      font-size: calc(var(--font-size-base) - .1rem);
    }
  }
</style>