<nav>
  <ul class="menu">
    <li class="menu__item">
      <a href="/">About</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 2rem;
  }

  nav .menu {
    list-style: none;
    margin: 0;
    padding: 2rem 0;
  }
</style>